
/* DAFAULT VARIABLES */
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
/* FINE DEFAULT VARIABLES */



/*  */

// OUR VARIABLES

$primary-color: #f74543;
$giallo-prova: #ffd393;
$primary-title-color: #6E1916;
$pseudo-black: #080808;
$primary-text-color: black;
$secondary-text-color: #1F5473;
$primary-title-color: black;

$secondary-color:#fef0cd;
$secondary-text-color: white;
