// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'partials/mixins';

@import 'partials/mediaQuery';
@import 'partials/nav';
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';

@import 'partials/commons';