*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1650px;
    }
}