//pagina login//
.mylogin {
   
    background-color: $secondary-color;
    background-image: url(../img/ominilogin.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    position: relative;
    overflow: hidden;
    background-size: 1150px;

    
    .container{
        width: 85%;
        height: calc(100vh);
        display: block;
        margin: auto;
        position: relative;


        
        .card {
            margin-top: 80px;
            border: none;

            .card-header {
                background-color: white;
                font-size: 20px;
                border-bottom: 1px solid black;
            }
        }
    }


    .form-control {
        &:focus {
      
            border-color: #fd9b9a;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(247 69 67 / 25%);
        }
    }

    .btn-primary {
        background-color: $primary-color;
        border: 2px solid $primary-color;
        font-weight: 600;

        &:hover {
            background-color: #fdb302;
            border: 2px solid #fdb302;
            text-decoration: none;
        
        }

        &:focus {
      
            border-color: #fcce63;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(253 179 2/ 25%);
        }
    }
    .forgot {
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        text-align: left;
        color: $primary-color;
        
        &:hover {
            color: #fdb302;
            text-decoration: none;
        }
    }

}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .mylogin {
        background-image: url(../img/ominaalogin.svg);
    }

}


@media screen and (max-width: 767px) {
    .mylogin {
        background-image: none;
    }
}



//pagina register//
.myregister {

    background-color: $secondary-color;
    background-image: url(../img/registerpc.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    position: relative;
    overflow: hidden;
    background-size: 1150px;

    .container{
        width: 85%;
        
        display: block;
        margin: auto;
        position: relative;

        .card {
            margin-top: 80px;
            margin-bottom: 80px;
            border: none;

            .card-header {
                background-color: $secondary-text-color;
                font-size: 20px;
                border-bottom: 1px solid black;
            }
        }
    }

    .form-control {
        &:focus {
      
            border-color: #fd9b9a;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(247 69 67 / 25%);
        }
    }
    .categorie {
        padding-top: 10px;
        font-size: 9px;
    }

    .custom-control-label {
        margin-bottom: 4px;
        margin-top: 2px;

        &:before {
            top: 0rem;
        }
    }

    .btn-primary {
        background-color: $primary-color;
        border: 2px solid $primary-color;
        font-weight: 600;

        &:hover {
            background-color: #fdb302;
            border: 2px solid #fdb302;
            text-decoration: none;
        
        }

        &:focus {
      
            border-color: #fcce63;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(253 179 2/ 25%);
        }

        &:active {
            box-shadow: 0 0 0 0.2rem rgb(253 179 2/ 25%);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .myregister {
        background-image: url(../img/registeripadpro.svg);
    }

}

@media screen and (min-width: 768px) and (max-width: 950px) {
    .myregister {
        background-image: url(../img/registeripad.svg);
    }

}

@media screen and (max-width: 767px) {
    .myregister {
        background-image: none;
    }
}