
/* ----- JUMBOTRON ----- */
.my-jumbotron{
    background-color: #fcecd5;
    
    background-image: url("../img/banner.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    overflow: hidden;

    .jm-img {
        height: 70px;
        position: absolute;  

        &.milkshake  {
            top: 400px;
            left: 700px;
        }
        &.panino  {
            top: 140px;
            right: 270px;
        }
        &.pollo  {
            top: 325px;
            right: 50px;
            height: 90px;
        }
        &.ramen  {
            bottom: 40px;
            left: 500px;            
        }
        &.taco  {
            top: 145px;
            left: 500px;           
        }
        &.uovo  {
            top: 250px;
            right: 500px;
            height: 40px;
        }
    }
    
    .my-wrap{
        height: calc(100vh);
        @include auto-margin;
        position: relative;
        display: flex;
        align-items: center;
        
        .left-side{
            width: 50%;
            padding-left: 0;
            h1{
                font-size: 3rem;
                margin-top: 1rem;
                color: $primary-title-color;
            }
            p{
                padding: 1rem 0;
            }
            a{
                color: white;
                font-weight: 600;
                transition: .5s all;
                text-decoration: none;
                background-color: #f74542;
                border-radius: 25px;
                padding: 10px 45px;
                border: 2px solid #f74542;
                &:hover{
                    color: black;
                    background-color: white;
                    border: 2px solid black;
                    text-decoration: none;
                }
            }
        }
    }
}



/* ----- MAIN ----- */
.main-content{
    min-height: 100vh;
    //background-color: aqua;
    @include auto-margin;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        h2{
            text-align: center;
            padding: 6rem 0 4rem 0;
            color: $primary-title-color;
        }
    }
    .card-temp{
        //background-color: yellowgreen;
        text-align: center;
        padding: 1rem;
        margin-bottom: 2rem;
        .inner-box{
            cursor: pointer;
            img{
                width: auto;
                max-height: 150px;
                transition: .5s all;
            }
        }
    }
}

//restaurants correspondig to selected category
.restaurants-box{
    padding-top: 5rem;
    min-height: 100vh;
    @include auto-margin;
    h1{
        text-align: center;
    }

    .double-box{
        display: flex;
        .ribbons-box{
            min-width: 15%;
            border-right: 2px solid black;
            margin-right: 2rem;
        }

        .restaurants-cards-container{
            padding: 2rem 0;
            display: flex;
            flex-wrap: wrap;
            .restaurant-card{
                padding: 0 3rem 0.5rem 0;
                width: 100%;
                padding-bottom: 4rem;
                button{
                    margin-top: .5rem;
                    border-radius: 25px;
                    background-color: #f74542;
                    color: white;
                    outline: none;
                    border: none;
                    padding: 10px 25px;
                }
            }
        }
    }
}






/* ----- RIBBONS ----- */
.container-ribbon{
    margin-bottom: .3rem;
}
.ribbons-box{
	margin-top: 2rem;
	/* display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; */
    
	.pointy{
        cursor: pointer;
		position: relative;
		background-color: black;
		margin: 0 20px;
		display: inline-block;
		font-family: arial;
		font-weight: bold;
		font-size: 13px;
		line-height: 20px;
		color: white;
		min-width: 80px;
		border-radius: 0px 25px 25px 0;
        transition: .5s;

		&:after{
            transition: .5s;
			position: absolute;
			content: "";
			height: 0;
			width: 0;
			font-size: 0;
			line-height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid black;
		}
		&:before{
            transition: .5s;
			position: absolute;
			content: "";
			left: -20px;
			height: 0;
			width: 0;
			font-size: 0;
			line-height: 0;
			border-top: 10px solid black;
			border-bottom: 10px solid black;
			border-right: 10px solid black;
			border-left: 10px solid transparent;
		}
        &:hover {
            background-color: #f74542;
            &::after{
			    border-left: 10px solid #f74542;
            }
            &::before{
                border-top: 10px solid #f74542;
                border-bottom: 10px solid #f74542;
                border-right: 10px solid #f74542;
            }
        }
	}
    .selected-pointy{
        background-color: #f74542;
        &::after{

			border-left: 10px solid #f74542;
        }
        &::before{
            border-top: 10px solid #f74542;
			border-bottom: 10px solid #f74542;
			border-right: 10px solid #f74542;
        }
    }
}