// welcome.blade  navbar
nav{
    @include h-reset;
    background-color: white;
    padding: 1rem 0;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 999;

    a{
        color: black;
        background-color: white;
        border: 2px solid white;
        margin-left: 1rem;
        font-weight: 600;
        transition: .5s all;
        text-decoration: none;
        border-radius: 25px;
        padding: 10px 25px;
        &:hover{
            color: white;
            border: 2px solid black;
            background-color: black;
            text-decoration: none;
        }
    }
    #ghosted-btn{
        background-color: white;
        color: black;
        border: 2px solid white;
        &:hover{
            background-color: black;
            color: white;
            border: 2px solid black;
        }
    }
    img{
        width: 200px;
        cursor: pointer
    }
    .top-right{
        @include auto-margin;
        display: flex; 
        justify-content: space-between;       
    }

    .burger-menu{
        display: none;
        cursor: pointer;
    }
}

//app.blade navbar
.app-navbar {
    background-color: $secondary-color;
    padding: 1rem 0;
    .app-navbar-container {
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-logo {
            background-color: $secondary-color;
            border: 0;
            padding: 0;
            margin: 0;
        }
    }
}

@media screen and (min-width: 768px){
    .slider-off{
        display: none;
    }
    .slider-toggle{
        display: none;
    }
}

//media screen 
@media screen and (max-width: 768px){
    nav{
        .top-right{
            img {
                width: 120px;
            }
            .container-commands{
                .shown-commands{
                    display: none;
                }

                .burger-menu{
                    position: relative;
                    display: block;
                    height: 17px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .black-bar{
                        background-color: black;
                        height: 3px;
                        width: 25px;
                    }
                    .line.middle{
                        position: absolute;
                        top: 40%;
                        transform: translateY(-50%);
                    }

                    .line.upper,
                    .line.upper{
                        transition: .4s;
                    }
                    &:hover .line.upper,
                    &:hover .line.lower{
                        transition: .4s;
                    }
                }
            }
        }
        .slider-off{
            z-index: 998;
            transition: .5s;
            opacity: 0;
            transform: translateX(100%);    
        }
        .slider-toggle{
            opacity: 1;
            transition: .5s;
        }
    }
    #slider-standard{
        position: absolute;
        padding-top: 0rem;
        margin-top: 2rem;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 0px 10px gray;
        background-color: white;
        a{
            background-color: white;
            color: black;
            border: none;
            &:hover,
            &:focus{
                background-color: none;
                color: black;
                border: none;
            }
        }
    }

    //cross burger toggles
    #cross-right{
        transform: rotate(45deg);
        transition: .5s;
    }
    #untoggle-cross-right{
        transform: rotate(0deg);
        transition: .5s;
    }
    
    #cross-left{
        transform: rotate(-45deg);
        transition: .5s;
    }
    #untoggle-cross-left{
        transform: rotate(0deg);
        transition: .5s;
    }
    #upper-bar,
    #lower-bar{
        opacity: 1;
    }
    #invisible-upper-bar,
    #invisible-lower-bar{
        opacity: 0;
    }
}





